
* {box-sizing: border-box;}
.header {
    overflow: hidden;
    background-color:rgb(27, 27, 27);
    padding: 30px 20px;
    font-family: 'Hazel Deco Light';
  }
  body { 
    margin: 0;
    font-family: 'Baskerville Old Face';
  }
  .header a {
    float: center;
    color:goldenrod;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color:#04356A;
    color: gold;
  }
  
  .header a:active {
    background-color: #04356A;
    color:rgb(248, 171, 28);
  }
  
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}

